
body {
background-color: #E1EEDD;
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
// font-family: serif / sans-serif / moonspace / fantasy
}


h1 {
margin-top: 0px;
font-family: 'Sacramento', cursive;
}

h2 {
font-family: 'Alkatra', cursive;
}

h3 {
font-family: 'Alkatra', cursive;
}

.top-div {
background-color: #E1EEDD;
position: relative;
padding-top: 100px;
}

.middle-div {

}

.bottom-div {
}

.pro {
text-decoration: underline;
}


.top-cloud {
position: absolute;
//right: 50px;
 margin-right: 50px;
top: 50px;


}
.bottom-cloud {
position: absolute;
 margin-left: 50px;
//left: 50px;
bottom: 300px;
}


.me {
margin-top: 30px;
}





// 1-
// display: block; ==> the element takes the entire box,
 //does not allow any other element to align with it,
 //This styles allows adjusting the width

// 2-
//display: inline; ==> the element allows other elements
 //to align with it. This styles does not
 //allow adjusting the width

// 3-
 //display: inline-block; ==> allows elements to align
 // with it, and allows adjusting the width

// 4-
// display: none; ==> removes the element and its space
// visibility: hidden; ==> removes the element but keeps its own space

//--------------------

1-
//position: relative; default is static
//left: 50px; ==> move the element by 50 px to the RIGHT
// of where it used to be

2-
//position: absolute: compares the element relative to its parent
//exp. if the element is in a div, then padding= 30px, then
// the element will keep a padding of 30px to its parent which
// is the div

3-
//position: fixed: keep the element fixed in its place even when scrolling
// up, down, left, right

